Задача 1

Директор выделил машину под закупку оборудования, выделил достаточно большое количество денег и сказал: «Берите, что вам нужно, но не более 200 кг. И каждого товара берите не более одной единицы!» Есть прайс-лист на 2000 наименований.
Стоимости товаров варьируются от 100 до 5000 с шагом 100.
Массы товаров варьируются от 1 до 150 кг с шагом в 1 кг.
Зависимостей между массой и стоимостью нет (может выпасть товар массой 1 кг и стоимостью 5000 и массой 150 кг и стоимостью 100.
1. Необходимо составить ЦФ для этой задачи, выбрать критерий оптимальности и...
2. *...предложить алгоритм её решения.

In [39]:
import numpy as np
from itertools import product
from random import sample
import pandas as pd

In [3]:
m = np.arange(1, 151) #возможные массы товаров
m

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150])

In [6]:
cost = np.arange(100, 5100, 100) #возможные стоимости товаров
cost

array([ 100,  200,  300,  400,  500,  600,  700,  800,  900, 1000, 1100,
       1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 2100, 2200,
       2300, 2400, 2500, 2600, 2700, 2800, 2900, 3000, 3100, 3200, 3300,
       3400, 3500, 3600, 3700, 3800, 3900, 4000, 4100, 4200, 4300, 4400,
       4500, 4600, 4700, 4800, 4900, 5000])

In [7]:
m.shape

(150,)

In [8]:
cost.shape

(50,)

In [41]:
full_price = list(product(m, cost))

In [23]:
len(full_price)

7500

In [36]:
price = sample(price, 2000)

In [51]:
df = pd.DataFrame(price)
df.rename(columns={0: 'massa', 1: 'cost'}, inplace=True)

In [53]:
df.head()

   massa  cost
0    108  2300
1    125  3200
2    132  3600
3      5  3800
4    112  4700

Критерий оптимальности - потратить как можно больше денег, при условии, что взять мы можем не более 200 кг

P=∑ci→max

In [58]:
df = df.sort_values(['cost', 'massa'], ascending=[False, True])
df.head(20)

      massa  cost
1364      1  5000
103       4  5000
1217     10  5000
1370     11  5000
1585     12  5000
1859     14  5000
1771     18  5000
963      19  5000
1798     20  5000
39       26  5000
435      31  5000
1391     34  5000
988      35  5000
817      37  5000
1941     38  5000
1284     45  5000
1484     46  5000
819      47  5000
662      58  5000
784      60  5000

In [63]:
massa = 0
cost_full = 0
for index, row in df.iterrows():
    if row['massa'] + massa > 200:
        break;
    massa += row['massa']
    cost_full += row['cost']
    print(f'оборудование № {index}')
print(f'Общая масса = {massa} кг, общая стоимость = {cost_full}$')

оборудование № 1364
оборудование № 103
оборудование № 1217
оборудование № 1370
оборудование № 1585
оборудование № 1859
оборудование № 1771
оборудование № 963
оборудование № 1798
оборудование № 39
оборудование № 435
оборудование № 1391
Общая масса = 200 кг, общая стоимость = 60000$